spring-beans/src/main/resources/META-INF/user-test.xsd

<? xml version = '1.0' encoding="utf-8" ?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
targetNamespace="http://www.huaming.com/schema/user"
xmlns:tns="http://www.huaming.com/schema/user"
elementFormDefault="qualified">
	<xsd:element name="user">
		<xsd:complexType>
			<xsd:attribute name="id" type="string" />
			<xsd:attribute name="userName" type="string" />
			<xsd:attribute name="email" type="string" />
		</xsd:complexType>
	</xsd:element>
</schema>